/* HEADER: */

* {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}

a:hover {
  opacity: 0.7;
}

.logo-img2 {
  width: 100px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #6d7e96;
  height: 8vh;
}

.nav-list {
  list-style: none;
  display: flex;
}


/* BODY: */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #9db2c5;
}

h1 {
  color: #405889;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding-left: 15px;
  padding-top: 15px;
}

button:hover {
  cursor: pointer;
}

.container {
  flex-direction: row-reverse;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-start;
  margin-top: 25px;
}

.div-box1 {
  align-items: center;
  width: 50%;
  margin-top: -50px;
  background-color: #fff;
  border: none;
  padding: 13px;
  margin-bottom: 25px;
  position: initial;
  border-radius: 15px;
  color: white;
  font-size: 18px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
}

.div-box2 {
  align-items: center;
  width: 50%;
  background-color: #fff;
  border: none;
  padding: 13px 13px 0px 13px;
  position: ;
  border-radius: 15px;
  font-size: 18px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
}

td .data-label {
  font-family: Arial, Helvetica, sans-serif;
  color: #3b434f;
  font-size: 15px;
  justify-content: center;
}

table {
  align-items: center;
  align-content: center;
  justify-content: center;
  right: 50%;
  left: 50%;
  font-family: Arial, Helvetica, sans-serif;
  color: #808a97;
  font-size: 15px;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  min-width: 80%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 15px 15px;
  align-items: center;
  align-content: center;
  justify-content: center;
  right: 50%;
  left: 50%;
  font-family: Arial, Helvetica, sans-serif;
  color: #25272b;
  font-size: 15px;
}

thead {
  background-color: #6C7A89;
}

.styled-table thead tr {
  background-color: #6C7A89;
  color: #ffffff;
  text-align: center;
}

.left {
  border-top-left-radius: 15px;
}

.right {
  border-top-right-radius: 15px;
}

.styled-table th,
.styled-table td {
  padding: 15px 35px;
  text-align: center;
}

.styled-table tbody tr {
  border-bottom: 0px solid #ffffff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}

.btn-extra {
  align-items: center;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #25272b;
  padding: 10px;
  font-size: 15px;
}

.btn-extra:focus {
  background-color: transparent;
  border: none;
  text-decoration: none;
  align-items: center;
}

.btn-extra1 {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #5c6d85;
  align-items: center;
}

.btn-extra1:focus {
  background-color: transparent;
  border: none;
  text-decoration: none;
  align-items: center;
}


.btn-extra:hover {
  opacity: 0.8;
}



@media (max-width: 798px) {

  body {
    overflow-x: hidden;
  }

  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 48vw;
    height: 92vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .mobile-menu {
    display: block;
  }
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.label-home {
  padding: 50px;
}

.label-float input {
  width: 100%;
  padding: 5px 5px;
  display: inline-block;
  border: 0;
  border-bottom: 1.5px solid #899db9;
  opacity: 0.7;
  background-color: transparent;
  outline: none;
  min-width: 180px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  transition: all .3s ease-out;
}

.label-float {
  position: relative;
  padding-top: 13px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.label-float input:focus {
  border-bottom: 2px solid #899db9;
}

.label-float label {
  color: #6b809e;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: all .3s ease-out;
}

.label-float input:focus+label,
.label-float input:valid+label {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0;
  color: #6C7A89;
}